*~
data/Run2UltraLegacy_v3/*/*/copyFiles.sh
TMVA/LeptonID/BATCHSubmit
TMVA/LeptonID/Validation
Analyzers/.vscode/
*.pyc
*.pcm
*.d
*.so
*_Dict.cxx
TMVA/*/*.root
TMVA/LeptonID/dataset
TMVA/LeptonID/BATCHSubmit/BDTA
TMVA/LeptonID/Validation/*/log*
lib
lib/*.tar.gz
lib/*.rootmap
*/obj
*/*/obj
HNDiLeptonWorskspace
python/UserInfo_*.py
python/UserInfo_template.py
TMVA/dataset